p {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #299B01;
  
  background-position: center;
  background-size: cover;
  margin: 30px;
  padding: 15px;
  color: white;
  z-index: 1;
  position: relative;
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 30%;
  z-index: -1;
}